// vars
$breakepointL: 1024px;
$breakepointS: 768px;
$breakepointXS: 414px;

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

// Typo
h2 {
	font-size: 45px;
}

h3 {
	font-size: 42px;
}

h4 {
	font-size: 40px;
}

h2,
h3,
h4 {
	font-weight: 200;
	letter-spacing: 1px;
	margin-top: 0;
	text-transform: capitalize;
	b {
		font-weight: 900;
		text-transform: capitalize;
	}
	@media (max-width: $breakepointL) {
		font-size: 30px;
	}
}

p {
	font-size: 15.57px;
	line-height: 28px;
	margin-bottom: 0;
	@media (max-width: $breakepointL) {
		font-size: 13px;
		line-height: 22px;
	}
}

a {
	border: 1px solid #ffffff;
	border-radius: 10px;
	color: #ffffff;
	display: inline-block;
	padding: 15px 45px;
	margin-top: 8%;
	text-decoration: none;
	@media (max-width: $breakepointS) {
		font-size: 13px !important;
	}
}

a,
input,
textarea,
button {
	font-size: 16.57px;
}

.button {
	&_right {
		margin-left: auto;
	}
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 10px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	padding: 15px 0;
	margin-top: 20px;
	min-width: 190px;
	text-decoration: none;
	@media (max-width: $breakepointS) {
		font-size: 13px !important;
	}
}

.menu {
	background-color: transparent;
	background-image: url(./img/menu.svg);
	border: none;
	cursor: pointer;
	display: block;
	height: 33px;
	margin-bottom: 64px;
	width: 33px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'a a a a a a b b b'
		'c c c c d d d d d'
		'c c c c e e e e e'
		'f f f g g g g g g';
	@media (max-width: $breakepointL) {
		grid-template-areas: 'b' 'b' 'c' 'd' 'e' 'f' 'g';
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
	@media (max-width: $breakepointS) {
		grid-template-areas: 'b' 'b' 'c' 'd' 'e' 'f' 'g';
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
}

.grid-item {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding: 60px 55px;
	@media (max-width: $breakepointS) {
		padding: 40px 35px;
	}

	&_bg {
		background-image: url(./img/bg.png);
		grid-area: a;
		@media (max-width: $breakepointL) {
			display: none;
		}
	}
	&_gray {
		background-color: #f3f3f3;
		grid-area: b;
	}
	&_blue {
		background-image: url(./img/bg_blue.png);
		color: #ffffff;
		grid-area: c;
		div {
			margin-bottom: 70px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&_beige {
		background-image: url(./img/bg_beige.png);
		grid-area: d;
		a {
			border: 1px solid #000000;
			color: #000000;
		}
		@media (max-width: $breakepointS) {
			text-align: center;
		}
	}
	&_black {
		background-image: url(./img/bg_black.png);
		color: #ffffff;
		grid-area: e;
		@media (max-width: $breakepointS) {
			text-align: center;
		}
	}
	&_human {
		background-image: url(./img/bg_human.png);
		color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-area: f;
		h3 {
			margin-bottom: 0;
		}
		@media (max-width: $breakepointS) {
			text-align: center;
		}
	}
	&_green {
		background-image: url(./img/bg_green_old.png);
		color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-area: g;
		min-height: 615px;
		border: none;
		@media (max-width: $breakepointL) {
			min-height: inherit;
		}
		@media (max-width: $breakepointS) {
			text-align: center;
		}

		form {
			textarea {
				padding: 10px;
			}
		}
	}
}

.menu {
	margin-bottom: 60px;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 620px;

	input,
	textarea {
		background-color: transparent;
		border: 1px solid #ffffff;
		border-radius: 10px;
		color: #ffffff;
		padding: 10px;
		margin-bottom: 12px;
		&::placeholder {
			color: #ffffff;
		}
	}

	input {
		box-sizing: border-box;
		width: 48%;
		padding: 10px 15px;
		@media (max-width: $breakepointS) {
			&:first-child {
				margin-right: 5px;
			}
		}
	}

	textarea {
		min-height: 125px;
		resize: none;
		width: 100%;
	}

	@media (max-width: $breakepointS) {
		justify-content: center;
	}
}

.social {
	&__list {
		display: flex;
		list-style: none;
		padding: 0;
		@media (max-width: $breakepointS) {
			justify-content: center;
		}
	}
	&__item {
		height: 45px;
		margin-right: 5px;
		width: 45px;
	}
	&__icon {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: none;
		box-sizing: border-box;
		height: 45px;
		margin: 0;
		padding: 0;
		width: 45px;
		&--fb {
			background-image: url(./img/fb.svg);
		}
		&--dr {
			background-image: url(./img/dr.svg);
		}

		&--tw {
			background-image: url(./img/tw.svg);
		}
	}
}

.logo {
	background-image: url(./img/logo.png);
	background-repeat: no-repeat;
	display: block;
	height: 90px;
	margin-bottom: 25px;
	width: 90px;
	@media (max-width: $breakepointS) {
		background-size: cover;
		height: 70px;
		margin: 0 auto 25px;
		width: 70px;
	}
}
