body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

// Typo
h2 {
	font-size: 45px;
}

h3 {
	font-size: 42px;
}

h4 {
	font-size: 40px;
}

h2,
h3,
h4 {
	font-weight: 200;
	letter-spacing: 1px;
	margin-top: 0;
	b {
		font-weight: 900;
	}
}

p {
	font-size: 15.57px;
	line-height: 28px;
	margin-bottom: 0;
}

a {
	border: 1px solid #ffffff;
	border-radius: 10px;
	color: #ffffff;
	display: inline-block;
	padding: 15px 45px;
	margin-top: 85px;
	text-decoration: none;
}

a,
input,
textarea {
	font-size: 16.57px;
}

.menu {
	background-color: transparent;
	background-image: url(./img/menu.svg);
	border: none;
	cursor: pointer;
	display: block;
	height: 33px;
	margin-bottom: 64px;
	width: 33px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'a a a a a a b b b'
		'c c c c d d d d d'
		'c c c c e e e e e'
		'f f f g g g g g g';
}

.grid-item {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 55px;

	&_bg {
		background-image: url(./img/bg.png);
		grid-area: a;
	}
	&_gray {
		background-color: #f3f3f3;
		grid-area: b;
	}
	&_blue {
		background-image: url(./img/bg_blue.png);
		color: #ffffff;
		grid-area: c;
		div {
			margin-bottom: 70px;
		}
	}
	&_beige {
		background-image: url(./img/bg_beige.png);
		grid-area: d;
		a {
			border: 1px solid #000000;
			color: #000000;
		}
	}
	&_black {
		background-image: url(./img/bg_black.png);
		color: #ffffff;
		grid-area: e;
	}
	&_human {
		background-image: url(./img/bg_human.png);
		color: #ffffff;
		grid-area: f;
	}
	&_green {
		background-image: url(./img/bg_green.png);
		color: #ffffff;
		grid-area: g;
	}
}

.menu {
	margin-bottom: 60px;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 620px;

	input {
		box-sizing: border-box;
		width: 48%;
		padding: 10px 15px;
		&::-webkit-input-placeholder {
			color: #ffffff;
		}
		&::-ms-input-placeholder {
			color: #ffffff;
		}
		&::-ms-input-placeholder {
			color: #ffffff;
		}
		&::placeholder {
			color: #ffffff;
		}
	}

	textarea {
		min-height: 125px;
		width: 100%;
		&::-webkit-textarea-placeholder {
			color: #ffffff;
		}
		&::-ms-textarea-placeholder {
			color: #ffffff;
		}
		&::-ms-textarea-placeholder {
			color: #ffffff;
		}
		&::placeholder {
			color: #ffffff;
		}
	}

	input,
	textarea {
		background-color: transparent;
		border: 1px solid #ffffff;
		border-radius: 10px;
		margin-bottom: 12px;
	}
}

.social {
	&__list {
		display: flex;
		list-style: none;
		padding: 0;
	}
	&__item {
	}
	&__icon {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: none;
		box-sizing: border-box;
		height: 45px;
		margin-right: 10px;
		width: 45px;
		&--fb {
			background-color: #335bb3;
			background-image: url(./img/fb.svg);
		}
		&--dr {
			background-color: #e64894;
			background-image: url(./img/dr.svg);
		}

		&--tw {
			background-color: #00b3ff;
			background-image: url(./img/tw.svg);
		}
	}
}

.logo {
	background-image: url(./img/logo.png);
	background-repeat: no-repeat;
	display: block;
	height: 90px;
	margin-bottom: 25px;
	width: 90px;
}
